@import "tailwindcss";
@import "@heroui/styles"; 

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  display: inline-block;
  min-width: 100%;
  animation: marquee 18s linear infinite;
}

/* hover pause */
.animate-marquee:hover {
  animation-play-state: paused;
}